## Importing pandasai library

In [9]:
import pandas as pd

## Loading dataset

In [2]:
df = pd.read_csv('/Users/vishalsaxena/Documents/DS_Workspace/healthdax/data/processed/patient_health_data.csv', 
                 index_col=False,)
df

,Unnamed: 0,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders,Physical_activity
0,0,1,1,11.28,0.90,34,23,1,1.0,0,48071,0.0,2,1,1,23295.888889
1,1,2,0,9.75,0.23,54,33,1,-1.0,0,25333,205.0,3,0,0,27963.625000
2,2,3,1,10.79,0.91,70,49,0,0.0,0,29465,67.0,2,1,0,22868.571429
3,3,4,0,11.00,0.43,71,50,0,0.0,0,7439,242.0,1,0,0,28919.428571
4,4,5,1,14.17,0.83,52,19,0,0.0,0,49644,397.0,2,0,0,21660.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,1996,1,10.14,0.02,69,26,1,-1.0,1,47568,144.0,3,1,0,29824.250000
1996,1996,1997,1,11.77,1.00,24,45,1,1.0,1,8063,0.0,3,1,1,32334.111111
1997,1997,1998,1,16.91,0.22,18,42,0,0.0,0,24753,0.0,2,1,1,20377.000000
1998,1998,1999,0,11.15,0.72,46,45,1,-1.0,1,15275,253.0,3,0,0,26548.428571
1999,1999,2000,1,11.36,0.09,41,45,0,0.0,0,30463,230.0,1,1,0,26843.111111

In [3]:
df.columns

Index(['Unnamed: 0', 'Patient_Number', 'Blood_Pressure_Abnormality',
       'Level_of_Hemoglobin', 'Genetic_Pedigree_Coefficient', 'Age', 'BMI',
       'Sex', 'Pregnancy', 'Smoking', 'salt_content_in_the_diet',
       'alcohol_consumption_per_day', 'Level_of_Stress',
       'Chronic_kidney_disease', 'Adrenal_and_thyroid_disorders',
       'Physical_activity'],
      dtype='object')

In [4]:
df.drop(columns=['Unnamed: 0', 'Patient_Number'])

,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders,Physical_activity
0,1,11.28,0.90,34,23,1,1.0,0,48071,0.0,2,1,1,23295.888889
1,0,9.75,0.23,54,33,1,-1.0,0,25333,205.0,3,0,0,27963.625000
2,1,10.79,0.91,70,49,0,0.0,0,29465,67.0,2,1,0,22868.571429
3,0,11.00,0.43,71,50,0,0.0,0,7439,242.0,1,0,0,28919.428571
4,1,14.17,0.83,52,19,0,0.0,0,49644,397.0,2,0,0,21660.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,10.14,0.02,69,26,1,-1.0,1,47568,144.0,3,1,0,29824.250000
1996,1,11.77,1.00,24,45,1,1.0,1,8063,0.0,3,1,1,32334.111111
1997,1,16.91,0.22,18,42,0,0.0,0,24753,0.0,2,1,1,20377.000000
1998,0,11.15,0.72,46,45,1,-1.0,1,15275,253.0,3,0,0,26548.428571
1999,1,11.36,0.09,41,45,0,0.0,0,30463,230.0,1,1,0,26843.111111

## Creating llm config

In [11]:
from pandasai_litellm.litellm import LiteLLM
llm = LiteLLM(model="ollama/llama3", api_base="http://localhost:11434")

## Importing smartdataframe

In [18]:
from pandasai import SmartDataframe
sdf = SmartDataframe(df, config={"llm":llm, "verbose":True})
result = sdf.chat("Who are more chronic male or female")

/var/folders/jx/cc9brgl143z9wt4bc65wylz40000gn/T/ipykernel_70894/4052804251.py:2: DeprecationWarning:
********************************************************************************
DEPRECATION WARNING:
SmartDataframe will soon be deprecated. Please use df.chat() instead.
********************************************************************************

  sdf = SmartDataframe(df, config={"llm":llm, "verbose":True})

{'type': 'string', 'value': 'More chronic cases are found in males (374 vs 339)'}

In [20]:
from pandasai import Agent

agent = Agent(df, config={"llm": llm})
agent.chat("Who can preganant male or female")

# Use this for Agent objects:
print(agent.last_code_executed)

/var/folders/jx/cc9brgl143z9wt4bc65wylz40000gn/T/ipykernel_70894/3550133633.py:3: DeprecationWarning: The 'config' parameter is deprecated and will be removed in a future version. Please use the global configuration instead.
  agent = Agent(df, config={"llm": llm})

{'type': 'dataframe', 'value':      Unnamed: 0  Patient_Number  Blood_Pressure_Abnormality  \
0             0               1                           1
1             6               7                           1
2            15              16                           1
3            18              19                           1
4            24              25                           0
..          ...             ...                         ...
194        1948            1949                           0
195        1957            1958                           0
196        1965            1966                           0
197        1984            1985                           0
198        1996            1997                           1

     Level_of_Hemoglobin  Genetic_Pedigree_Coefficient  Age  BMI  Sex  \
0                  11.28                          0.90   34   23    1
1                  11.69                          0.75   43   41    1
2                  10.96                          0.10   43   27    1
3                   8.99                          0.17   18   30    1
4                  10.26                          0.69   23   48    1
..                   ...                           ...  ...  ...  ...
194                11.40                          0.25   42   31    1
195                10.55                          0.56   37   35    1
196                11.12                          0.57   29   36    1
197                10.81                          0.49   44   15    1
198                11.77                          1.00   24   45    1

     Pregnancy  Smoking  salt_content_in_the_diet  \
0          1.0        0                     48071
1          1.0        0                     32967
2          1.0        0                     39018
3          1.0        0                     35603
4          1.0        1                     25482
..         ...      ...                       ...
194        1.0        0                     25393
195        1.0        0                     14076
196        1.0        0                     33617
197        1.0        0                     46642
198        1.0        1                      8063

     alcohol_consumption_per_day  Level_of_Stress  Chronic_kidney_disease  \
0                            0.0                2                       1
1                          206.0                3                       1
2                          495.0                1                       1
3                            0.0                3                       1
4                            0.0                3                       0
..                           ...              ...                     ...
194                        257.0                1                       0
195                        324.0                1                       0
196                        123.0                1                       0
197                        471.0                3                       0
198                          0.0                3                       1

     Adrenal_and_thyroid_disorders  Physical_activity
0                                1       23295.888889
1                                1       24871.875000
2                                0       21094.500000
3                                0       18690.555556
4                                0       31159.875000
..                             ...                ...
194                              0       23891.428571
195                              0       26616.571429
196                              0       31488.125000
197                              0       22914.000000
198                              1       32334.111111

[199 rows x 16 columns]}
import pandas as pd
result = {}
result_type = 'dataframe'
sql_query = """
SELECT *
FROM table_6082490e24036c0189af9b42c80c75b2
WHERE (Sex = 1 AND Pregnancy = 1) OR (Sex = 0 AND Pregnancy = 1)
"""
df = execute_sql_query(sql_query)
result['type'] = result_type
result['value'] = df
print(result)